:root{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.wrapper{
    display: flex;
    margin: 0 auto;
    max-width: 120rem;
    flex: 1;
    justify-content: space-between;
}
.header{
    width: 100%;
    position: absolute;
    top: 60px;
}
.menu{
    width: 443px;
    display: flex;
}
.logo {
    display: flex;
    flex-direction: column;
}

.logo__title{
    color: #F1CDB3;
    font-family: Georgia;
    font-size: 3.3rem;
    letter-spacing: 0.12rem;
    line-height: 110%;
    font-weight: 400;
}

.logo__subtitle{
    color: #FFFFFF;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 110%;
    margin-top: 8px;
    text-align: center;
}
.menu{
    display: flex;
}

.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
}

.list__item{ 
    display: flex;
    align-items: center;
}

.list__link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Arial;
    font-size: 1.5rem;
    line-height: 135%;
}
.list__link:hover{
    border-bottom: 3px solid  #F1CDB3;
    color: #FFFFFF;
    cursor: pointer;
}
.lins__link_active{
    border-bottom: 3px solid  #F1CDB3;
}

.list__link_disabled {
    color:#CDCDCD;
}
.main{
    display: flex;
    flex-direction: column;
}

.hero{ 
    display: flex;    
    background: url(/assets/noise_transparent.png), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;;
    padding-top: 180px;
}
.hero__content{
    display: flex;
}
.content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 87px;
}
.content-section__title{
    color: #FFFFFF;
    font-size: 4.4rem;
    line-height: 5.8rem;
    font-family: Georgia;
    max-width: 34rem;
    font-weight: 400;
}
.content-section__subtitle{
    color: #CDCDCD;
    line-height: 160%;
    font-family: Arial;
    margin-top: 4rem;
    font-size: 1.5rem;
    width: 47rem;
}
.content-section__button{
    margin-top: 42px;
    border-radius: 100px;
    border: none;
    background: #F1CDB3;
    width: 207px;
    padding: 15px 45px;
    letter-spacing: 0.1rem;
    font-size: 1.7rem;
}
.content-section__button:hover{
    background: #fff;
    cursor: pointer;
    padding: 12px 39px;
    border: 3px solid #F1CDB3;
}

.about{
    padding-top: 80px;
    display: flex;
}
.about__conteiner{
    display: flex;
    margin: 0 auto;
    max-width: 120rem;
    justify-content: space-between;
    padding-bottom: 10rem;
}

.about img{
    padding-right: 12rem;
}

.about__title{
    font-size: 3.5rem;
    letter-spacing: 0.21rem;
    font-family: Georgia;
    line-height: 45.5px;
    max-width: 36rem;
    font-weight: 400;
    padding-top: 15px;
}

.about__subtitle{
    font-size: 1.5rem;
    font-family: Arial;
    line-height: 2.4rem;
    padding-top: 25px;
    max-width: 43rem;
}

.pets{
    display: flex;
    padding-top: 80px;
    background: #F6F6F6;
}
.pets__content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.pets__title{
    font-size: 3.5rem;
    font-family: Georgia;
    letter-spacing: -0.05rem;
    color: #545454;
    text-align: center;
    margin: 0 auto;
    line-height: 130%;
}
.slider{
    display: flex;
    margin-top: 60px;
    align-items: center;
}

.slider__button{
    border: 1px solid #F1CDB3;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    background: #fff;
}
.slider__button:hover{
    background: #F1CDB3;
    cursor: pointer;
}

.cards{
    display: flex;
    margin: 0 8px;
}
.card{
    background: #FAFAFA;
    margin: 0 45px;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    padding-bottom: 29px;
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
.card__title{
    font-size: 2rem;
    font-family: Georgia;
    text-align: center;
    padding: 30px 0;
    letter-spacing: 0.1rem;
}
.card__button{
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    padding: 14px 30px;
    background: #FAFAFA;
    font-size: 1.7rem;
    font-family: Georgia;
    line-height: 130%;
    width: 186px;
    margin: 0 auto;
    letter-spacing: 0.1rem;
}
.pets__button{
    background: #F1CDB3;
    letter-spacing: 0.1rem;
    font-size: 1.7rem;
    line-height: 130%;
    padding: 15px 45px;
    border-radius: 100px;
    border: none;
    width: 263px;
    margin: 60px auto 100px auto;
}
.pets__button:hover{
    background: #fff;
    cursor: pointer;
    padding: 12px 39px;
    border: 3px solid #F1CDB3;
}

.help{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    background: #FFFFFF;
}
.help__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1146px;
    margin: 0 auto;
    padding-bottom: 10rem;
}
.help__title{
    font-family: Georgia;
    font-size: 3.5rem;
    letter-spacing: 0.22rem;
    text-align: center;
    color: #545454;
    line-height: 130%;
    font-weight: 400;
}

.help__item{
    color: #545454;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    line-height: 115%;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 6rem;
}
.help__item img{
    margin-bottom: 28px;
}

.donation{
    display: flex;
    background: #F6F6F6;
    justify-content: space-between;
    padding-bottom: 10rem;
}
.donation__conteiner{
    margin: 0 auto;
    display: flex;
    padding-top: 8.4rem;
}
.donation__content{
    max-width: 38rem;
}
.donation__title{
    font-family: Georgia;
    font-size: 3.5rem;
    letter-spacing: 0.22rem;
    color: #545454;
    line-height: 130%;
    font-weight: 400;
}
.donation__subtitle{
    font-family: Georgia;
    font-size: 1.5rem;
    line-height: 110%;
    padding-top: 1.8rem;
    letter-spacing: 0.09rem;
}
.donation__dog{
    padding: 6px 29px 10px 0px;
}
.number{
    display: flex;
    background: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px;
    width: 35rem;
    margin-top: 1.7rem;
}
.number img{
    padding-right: 1.5rem; 
    margin-top: 0;
}
.text_number{
    font-family: Georgia;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    padding-right: 0;
    text-decoration: none;
    color: #545454;
}
.text_number:hover{
    cursor: pointer;
}
.small__text{
    font-family: Arial;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color:#B2B2B2;
    padding-top: 2rem;
}

.footer{
    background: url(/assets/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    padding-top: 4.3rem;
}
.footer__content{
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
}
.footer__title{
    font-size: 3.5rem;
    line-height: 130%;
    font-family: Georgia;
    letter-spacing: 0.22rem;
    color: #FFFFFF;
    font-weight: 400;
}
.footer__cont{
    width: 31rem;
    padding-top: 1.6rem;
}
.footer__cont div{
    display: flex;
    align-items: center;
}
.text{
   color: #F1CDB3;
   font-size: 2rem;
   font-family: Georgia; 
   line-height: 115%;
   letter-spacing: 0.06em;
}
.email{
    padding: 3.8rem 0 4rem 0;
}
.footer__cont img{
    padding: 0 2.1rem 0 0;
}
.address{
    margin-left: -2rem;
}
.addres{
    padding: 3.3rem 0 0 0;
}

.burger{
    display: none;
}
.burgerMenu{
    width: 32rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    background: #262425;
    border-top-left-radius: 5rem; 
    border-bottom-left-radius: 5rem;
    transition: 1s linear;
    visibility: hidden;
    opacity: 0;
    transform: translate(100%); 
}
.burgerMenu-open{
    visibility: visible;
    opacity: 1;
    transform: translate(0%);
}
.burgerList{
    flex-direction: column;
    padding: 3rem 0 3rem 3rem;
}
.burgerList .list__item{
    width: max-content;
    flex-direction: column;
    padding: 3rem 0 3rem 3rem;
    align-items: center;
    margin: 0 auto;
}

.slider__bottons-min{
    display: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .header{
        top: 30px;
    }
    .hero{
        padding-top: 150px;
    }
    .wrapper{
        justify-content: space-around;
    }
    .main-adaptive{
        flex-direction: column;
        align-items: center;
    }
    .content-section__button{
        margin: 42px auto 0;
    }
    .main-adaptive img{
        width: 569px;
        height: 593px;
        margin-left: auto;
        margin-right: 3rem;
        margin-top: 15px;
    }
    .about{
        padding-top: 65px;
    }
    .about__conteiner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .about img{
        padding: 8rem 0 0;
    }
    .cards{
        margin: 0;
    }
    .card:last-child{
        display: none;
    }
    .card{
        margin: 0 20px;
    }
    .help__container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .help__item{
        padding:0 30px;
        justify-content: center;
    }
    .donation__conteiner{
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 8.1rem;
    }
    .donation__dog{        
        margin-top: 6.1rem;
        padding: 0;
    }
    .footer{
        padding-top: 1.5rem;
    }
    .footer__content{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__content:last-child{
        padding: 0;
    }
    .contacts{
        padding-left: 0.5rem;
    }
    .address{       
        margin-left: -9rem;
        padding-left: 0.4rem;

    }
    .footer_puppy{
        padding-top: 6rem;
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .menu{
        display: none;
    }
    .burger{
        display: block;    
        margin-right: 4rem;
        width: 3rem;
        height: 2.2rem;
        margin-top: 2rem;
    }
    .logo{
        margin-right: 2rem;
    }
    .content-section__title{
        font-size: 2.5rem;
        max-width: 73%;
        line-height: 3.2rem;
        text-align: center;
        margin: 0 auto;
        letter-spacing: 0.15rem;
    }
    .content-section__subtitle {
        width: 30rem;
        margin: 4rem auto 0rem;
        letter-spacing: 0rem;
        line-height: 170%;
        text-align: center;
    }
    .main-adaptive img{
        width: 26rem;
        height: 27rem;
        margin-left: auto;
        margin-right: 1rem;
        margin-top: 15px;
    }
    .about{
        padding-top: 32px;
    }
    .about__conteiner{
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 0;
    }
    .about__title{
        font-size: 2.5rem;
        line-height: 130%;
        text-align: center;
        width: 26rem;
        margin: 0 auto;
        letter-spacing: 0.15rem;
    }
    .about__subtitle{
        font-size: 1.5rem;
        font-family: Arial;
        line-height: 2.4rem;
        padding-top: 25px;
        max-width: 27rem;
        margin: 0 auto;
        text-align: justify;
    }
    .about__subtitle-twost{
        padding-top: 22px;
    }
    .about img{
        width: 26rem;
        padding: 4rem 0 0;
    }

    .pets__title{
        font-size: 2.5rem;
        margin: 5px auto -17px;
        font-weight: 400;
        letter-spacing: 0.15rem;
    }
    .slider__bottons-min{
        display: flex;
        column-gap: 8rem;
    }
    .slider .slider__button{
        display: none;
    }
    .slider__bottons-min .slider__button{
        display: block;
    }
    .pets__button{
        margin: 42px auto;
    }

    .help{
        padding-top: 40px;
    }
    .help__container{
        display: grid;
        margin-top: 1rem;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 4rem;
    }
    .help__title{
        font-size: 2.5rem;
        letter-spacing: 0.15rem;
    }
    .help__item{
        padding:0px 13px;
        justify-content: center;
        font-size: 1.5rem;
        margin-top: 0;
        display: block;
    }
    .help__item img{
        width: 50px;
        margin: 37px auto 10px;
    }

    .donation{
        padding-bottom: 4.4rem;
    }
    .donation__conteiner{
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 4rem;
        padding-bottom: 0rem;
        justify-content: center;
        text-align: center;
    }
    .donation__title{
        font-size: 2.5rem;
        letter-spacing: 0.15rem;
        line-height: 135%;
    }
    .donation__subtitle{
        padding-top: 2.5rem;
        letter-spacing: 0rem;
    }
    .number{
        width: 28rem;     
        padding: 10px 10px;
        margin: 2.4rem auto 0;
    }
    .number img{
        padding-right: 2rem;
        margin-top: 0;
    }
    .text_number{
        font-size: 1.5rem;
    }
    .small__text{
        width: 28rem;
        margin: 0 auto;
        font-style: italic;
        text-align: justify;
    }
    .donation__dog{        
        margin-top: 4rem;
        padding: 0;
        height: 13.5rem;
    }





    .main-adaptive{
        flex-direction: column;
        align-items: center;
    }
    .header{
        top: 30px;
    }
    .hero{
        padding-top: 150px;
    }
    .wrapper{
        justify-content: space-around;
    }
    .main-adaptive{
        flex-direction: column;
        align-items: center;
    }
    .content-section__button{
        margin: 42px auto 0;
    }
    .content-section {
        text-align: center;
    }
    .slider{
        justify-content: space-evenly;
        flex-direction: column;
    }
    .cards{
        margin: 0 0 2rem;
        order: -1;
    }
    .card{
        display: none;
    }
    .card:first-child{
        display: flex;
    }
    .card{
        margin: 0 20px;
    }

 
   
    .footer{
        padding-top: 1.5rem;
    }
    .footer__content{
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 1.4rem;
    }
    .footer__content:last-child{
        padding: 0;
    }
    .contacts{
        padding-left: 0.5rem;
    }
    .footer__title{
        font-size: 2.5rem;
        letter-spacing: 0.15rem;
        text-align: center;
        width: 29rem;
        padding-left: 1rem;
    }
    .address{       
        margin-left: 0;
        padding-left: 0.5rem;
        margin-top: 2rem;
    }
    .addres{
        padding-top: 4rem;
    }
    .footer_puppy{
        width: 26rem;
        padding-top: 4rem;
        padding-right: 0;
        padding-left: 0;
    }
    .email{
        padding: 3.8rem 0px 4rem 24px;
    }
    .phone{
        padding-left: 3rem;
    }
}